

<div class="w-full flex justify-center mt-10 min-h-5/6 flex-col items-center">
  <div class="space-y-4 border-2 border-gray-500 px-7 py-5  w-6/12 xl:w-3/12 rounded-xl text-center shadow-2xl bg-white/0">
    <%= form_with(model: @article, local: true) do |form| %>
      <div class="space-y-3">
        <% if @article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field space-y-1">
          <%= form.label :title, :class=>"text-lg block" %>
          <%= form.text_field :title %>
        </div>

        <div class="field space-y-1">
          <%= form.label :body, :class=>"text-lg block" %>
          <%= form.text_area :body %>
        </div>

        <div class="field space-y-1">
          <%= form.label :photo, :class=>"text-lg block" %>
          <%= form.file_field :photo %>
        </div>

        <div class="actions">
          <%= form.submit class: 'border border-black p-2 bg-gray-300 cursor-pointer w-5/6 rounded-full mt-4 translate hover:bg-gray-300/60 mb-12' %>
        </div>
    <% end %>
  </div>
</div>