<div class="w-full flex justify-center mt-10 h-5/6">
    <div class="space-y-4 border-2 border-gray-500 px-10 py-7 w-6/12 xl:w-3/12 rounded-xl text-center shadow-2xl">
        <h2 class="font-bold text-2xl ">Log in</h2>
    
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="space-y-3">
              <div class="field space-y-1 ">
                <%=  f.label :email, :class=>"text-lg " %><br />
                <%=  f.email_field :email, :placeholder=>"Input your email", :class=>"rounded-lg " ,autofocus: true, autocomplete: "email" %>
              </div>
              <div class="field space-y-1">
                <%= f.label :password, :class=>"text-lg " %><br />
                <%= f.password_field :password, :placeholder=>"Input your password", :class=>"rounded-lg ", autocomplete: "current-password" %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="field space-x-1">
                  <%= f.check_box :remember_me, :class=>" cursor-pointer mb-1 focus:ring focus:ring-violet-300 " %>
                  <%= f.label :remember_me, :class=>"select-none cursor-pointer text-lg" %>
                </div>
              <% end %>
              <div class="actions">
                <%= f.submit "Log in", :class=>"p-2 bg-gray-300 cursor-pointer w-5/6 rounded-full mt-4 mb-14 translate hover:bg-gray-300/60" %>
              </div>
          </div>
        <% end %>
    
        <%= render "devise/shared/links" %>
    </div>
</div>
