<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "News Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-200/50">
    <main class="">
      <header>
      <% if user_signed_in? %>
        <%= form_for(:destroy_user_session, url: destroy_user_session_path, method: :delete, html: {class: 'logout-form'}) do %>
          <%= submit_tag 'Logout' %>
      <% end %>
      <%= link_to 'Edit profile', edit_user_registration_path %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
      <h3 class="font-bold text-3xl text-center content-center py-5 bg-gray-300">News</h3>
      </header>
      <%= yield %>
      <footer class="py-10 bg-gray-300 text-3xl font-bold text-center" >
      Здесь лежит футер я его не придумал
      </footer>
    </main>
  </body>
</html>
