<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "News Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-200/50 flex flex-col min-h-screen">
    <header class="self-start px-10 bg-black/40 grid grid-cols-[14rem_1fr_14rem] justify-items-center items-center w-full">
      <%= link_to root_path, class: "w-fit justify-self-start hover:opacity-60 transition-all font-bold text-3xl text-center content-center" do %>
        <img class="avatar size-8 py-1 h-full" src="/headerIcon.svg" alt="Logo" />
      <% end %>
      <%= link_to "News", root_path, class: "w-fit text-center hover:opacity-60 transition-all font-bold text-3xl text-center content-center" %>
      <div class="login">
        <% if user_signed_in? %>
          <div class="flex gap-1 items-center">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'adf p-2 bg-white rounded-2xl shadow-[inset_0_2px_20px_4px] shadow-black/20 border-black border-1 hover:bg-white/60 transition-colors' %>
            <span>|</span>
            <%= form_for(:destroy_user_session, url: destroy_user_session_path, method: :delete, html: {class: 'logout-form'}) do %>
              <%= submit_tag 'Logout', class: 'cursor-pointer adf p-2 bg-red-400 shadow-[0_2px_10px_4px] shadow-black/10 border-black/40 border rounded-2xl hover:bg-red-400/60 transition-colors' %>
            <% end %>
          </div>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => "adf p-2 bg-white rounded-2xl shadow-[inset_0_2px_20px_4px] shadow-black/20 border-black border-1 hover:bg-white/60 transition-colors" %> |
          <%= link_to 'Login', new_user_session_path, :class => "adf p-2 bg-green-400 shadow-[0_2px_10px_4px] shadow-black/10 border-black/40 border rounded-2xl hover:bg-green-400/60 transition-colors" %>
        <% end %>
      </div>
    </header>
    <main class=" mb-3 mt-2">
      <%= yield %>
    </main>
    <footer class="mt-auto py-9 bg-gray-300 text-3xl font-bold text-center" >
      Здесь лежит футер я его не придумал
    </footer>
  </body>
</html>
